header{
    text-align: center;
}

img{
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    display: inline;
    background-color: red;
}

footer iframe{
    width: 400px;
    height: 300px;
}

