/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.gambar1{
    width: 70px;
    padding-right: 100px;
}

.gambar {
    width: 1519px;
}

/* Navigation Styles */
nav {
    background: white;
    color: black;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Header Styles */
header {
    background: #6ab04c;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h3 {
    margin: 10px 0 0;
    font-size: 1.5em;
}

/* Section Styles */
section {
    padding: 20px 0;
}

section h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

section .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* About Section Styles */
#about img {
    display: block;
    margin: 10px auto;
    padding-right: 1000px;
    max-width: 10%;
    align-content: left;
    margin-bottom: 50px;
}
 .ran {
    text-align: center;
 }

/* Testimonials Section Styles */
#testimonials {
    background: #fff;
    color: #333;
    text-align: center;
    padding: 50px 0;
}

#testimonials p {
    font-size: 1.2em;
    font-style: italic;
    margin: 20px auto;
    max-width: 600px;
}

#testimonials p::before {
    font-size: 2em;
    vertical-align: top;
    color: #6ab04c;
}

#testimonials p::after {
    font-size: 2em;
    vertical-align: bottom;
    color: #6ab04c;
}

#testimonials p br {
    display: none;
}

/* Contact Section Styles */
#Contact {
    background: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

#Contact h1 {
    color: #6ab04c;
}

#Contact p {
    margin: 20px 0;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer h1 {
    color: #6ab04c;
}

footer iframe {
    border: 0;
    width: 80%;
    height: 400px;
    margin: 20px auto;
}
